<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>731842751220-g3fiee8l6m03d5ntlipb1o8d1c3ahn4t.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.731842751220-g3fiee8l6m03d5ntlipb1o8d1c3ahn4t</string>
	<key>API_KEY</key>
	<string>AIzaSyAksb57nQE7vaZMZOyuxcoB9sAAyRvOiMk</string>
	<key>GCM_SENDER_ID</key>
	<string>731842751220</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.pedro.laigo</string>
	<key>PROJECT_ID</key>
	<string>laigo-28d42</string>
	<key>STORAGE_BUCKET</key>
	<string>laigo-28d42.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:731842751220:ios:6a32eba26196019b7b0ca1</string>
	<key>DATABASE_URL</key>
	<string>https://laigo-28d42.firebaseio.com</string>
</dict>
</plist>